# Functions

Generating a repetitive output without a function

In [4]:
print("Hi Gayan")
print("Happy Birthday to you")
print("Happy Birthday to you")
print("Happy Birthday Dear Friend...")
print("Happy Birthday to you")
print("======================")
print("Hi Sam")
print("Happy Birthday to you")
print("Happy Birthday to you")
print("Happy Birthday Dear Friend...")
print("Happy Birthday to you")
print("======================")
print("Hi Nimal")
print("Happy Birthday to you")
print("Happy Birthday to you")
print("Happy Birthday Dear Friend...")
print("Happy Birthday to you")

Hi Gayan
Happy Birthday to you
Happy Birthday to you
Happy Birthday Dear Friend...
Happy Birthday to you
======================
Hi Sam
Happy Birthday to you
Happy Birthday to you
Happy Birthday Dear Friend...
Happy Birthday to you
======================
Hi Nimal
Happy Birthday to you
Happy Birthday to you
Happy Birthday Dear Friend...
Happy Birthday to you

Writing the same output with a function to eleminate repetitive codes

In [5]:
def wish_birthday():
    print("Happy Birthday to you")
    print("Happy Birthday to you")
    print("Happy Birthday Dear Friend...")
    print("Happy Birthday to you")   
    print("======================")

In [7]:
print("Hi Gayan")
wish_birthday()
print("Hi Sam")
wish_birthday()
print("Hi Nimal")
wish_birthday()

Hi Gayan
Happy Birthday to you
Happy Birthday to you
Happy Birthday Dear Friend...
Happy Birthday to you
======================
Hi Sam
Happy Birthday to you
Happy Birthday to you
Happy Birthday Dear Friend...
Happy Birthday to you
======================
Hi Nimal
Happy Birthday to you
Happy Birthday to you
Happy Birthday Dear Friend...
Happy Birthday to you
======================

In [1]:
def square_val(x):
    print(x**2)

In [2]:
square_val(3)

9

In [18]:
def add_vals(a,b):
    print(a+b)

In [19]:
add_vals(3,6)

9

In [20]:
add_vals(8,2)

10

In [21]:
def check_odd_even(p):
    if p%2==0:
        print("Even")
    else:
        print("Odd")

In [29]:
check_odd_even(6)

Even

In [30]:
def add_list(L1,L2):
    L3=[i+j for i,j in zip(L1,L2)]  # List comprehension (i for i in List) + unpacking method a,b=5,7 +  zip function in for loop
    print(L3)

In [31]:
add_list([2,1,4,5,6],[8,4,3,5,7])

[10, 5, 7, 10, 13]

In [33]:
add_list([2,1],[4,6])

[6, 7]

In [37]:
def check_result(p):
    if p> 50:
        print("Pass")
    else:
        print("Fail")

In [38]:
check_result(63)

Pass

In [39]:
def fun(a):
    print(2*a)

In [40]:
fun(2)

4

In [3]:
fun(2)+10  # Print can't  add to a variable . You must use a return variable insted

NameError: name 'fun' is not defined

In [47]:
def fun(b):
    return(2*b)

In [48]:
fun(2)

4

In [49]:
fun(2)+10

14

In [50]:
x=fun(6)
x

12

In [52]:
def fun1(a,b):
    return a+b

In [53]:
fun1(10,20)

30

In [54]:
def check_result(m):
    return "Pass" if m>=50 else "Fail"

In [55]:
check_result(56)

'Pass'

In [58]:
marks=[67,45,76,78,98,45,64]
results=["Pass" if m>=50 else "Fail" for m in marks] # List comprehension
print(results)

['Pass', 'Fail', 'Pass', 'Pass', 'Pass', 'Fail', 'Pass']

In [68]:
marks=[67,45,76,78,98,45,64]
results=[check_result(m) for m in marks]  # same with a function  Calling to check_result(m) function
print(results)

['Pass', 'Fail', 'Pass', 'Pass', 'Pass', 'Fail', 'Pass']

In [70]:
results=list(map(check_result,marks))  #pass each element to the function
print(results)

['Pass', 'Fail', 'Pass', 'Pass', 'Pass', 'Fail', 'Pass']

map(function, iterable, [iterable1, iterable2, ...])    #map syantx

In [80]:
org_list = [1, 2, 3, 4, 5]   #---from internet
fin_list = []

for num in org_list:
    fin_list.append(num**3)

print(fin_list) # [1, 8, 27, 64, 125]

[1, 8, 27, 64, 125]

In [109]:
org_list = [1, 2, 3, 4, 5]  #---from internet  # Self study

# define a function that returns the cube of `num`
def cube(num):
    return num**3
   
fin_list = list(map(cube, org_list))
print(fin_list) # [1, 8, 27, 64, 125]
#the map() function essentially iterated through each element of the iterable (in our case, org_list) 
#and applied the cube function on it. It finally returned a new iterable (fin_list ) with the result.

[1, 8, 27, 64, 125]

In [75]:
def myfun(a):
     return 2*a

In [108]:
L=[2,1,4,6,7,8,9]   # Self study
list(map(myfun,L))
#the map() function essentially iterated through each element of the iterable (in our case, org_list) 
#and applied the cube function on it. It finally returned a new iterable (fin_list ) with the result.

[4, 2, 8, 12, 14, 16, 18]

In [83]:
#normal function in two lines
def myfun(a):
     return 2*a

In [84]:
#lambda function in single line
fun1=lambda x:2*x

In [85]:
fun1(6)

12

In [88]:
fun2=lambda a,b : a+b    # a,b <---- what you give as input   a+b<---your operation

In [87]:
fun2(2,4)

6

In [81]:
#lambda  === write the function in a single line
#Instead of writing a separate function to calculate the cube of a number, ---from internet
#we can use a lambda expression in its place. Here's how you'd do that:
L=[2,1,4,6,7,8,9]
list(map(lambda a:2*a,L))

[4, 2, 8, 12, 14, 16, 18]

In [94]:
marks=[34,65,78,96,47,97]
list(map(lambda m : "Pass" if m>50 else "Fail",marks))

['Fail', 'Pass', 'Pass', 'Pass', 'Fail', 'Pass']

In [96]:
marks=[34,65,78,96,47,97]
result=list(map(lambda m : "Pass" if m>50 else "Fail",marks)) #assign to another list and print
print(result)

['Fail', 'Pass', 'Pass', 'Pass', 'Fail', 'Pass']

In [98]:
marks=[34,65,78,96,47,97]
list(map(lambda m : "Pass" if m>50 else "Fail",marks))

['Fail', 'Pass', 'Pass', 'Pass', 'Fail', 'Pass']

In [107]:
marks=[34,65,78,96,47,97]    # Self study
list(map(lambda m : "A" if m>75 else "B" if m>65 else "C" if m>50 else "f",marks)) 
# A simple single line lambda function to grade student results

['f', 'C', 'A', 'A', 'f', 'A']

In [106]:
marks=[34,65,78,96,47,97]    # Self study
grades=list(map(lambda m : "A" if m>75 else "B" if m>65 else "C" if m>50 else "f",marks)) 
# A simple single line lambda function to grade student results
list(zip(marks,grades))

[(34, 'f'), (65, 'C'), (78, 'A'), (96, 'A'), (47, 'f'), (97, 'A')]

# Strings

In [110]:
"a"

'a'

In [111]:
"cat"

'cat'

In [112]:
"dog is barking"

'dog is barking'

In [113]:
"  "

'  '

In [114]:
type("")

str

In [115]:
type(" ")

str

In [116]:
type(" hello there  ")

str

In [117]:
type('hello there')

str

In [118]:
type('234234#@#$%$')

str

In [120]:
type("234234#@#$%$")

str

In [121]:
print('234234#@#$%$')

234234#@#$%$

In [124]:
print(" a ")

 a

In [129]:
print(' a ')

 a

In [130]:
#how to combine strings

In [136]:
a="Sam"
b="is a good boy"
c=" "

In [137]:
a+c+b

'Sam is a good boy'

In [139]:
3*a   #<<----same string "sam" will repeated 3 times

'SamSamSam'

In [141]:
2*b

'is a good boyis a good boy'

In [142]:
print(2*b)

is a good boyis a good boy

In [143]:
a="8"

In [144]:
5*a

'88888'

In [145]:
msg="Today is a very beautiful day"

In [146]:
len(msg)

29

In [147]:
#membership test apply

In [148]:
"Today" in msg

True

In [149]:
"today" in msg

False

In [150]:
"Today" not in msg

False

In [160]:
"is a" in msg

True

In [152]:
msg[0]

'T'

In [153]:
msg[5]

' '

In [154]:
msg[-1]

'y'

In [155]:
msg[3:8]

'ay is'

In [157]:
msg[0]="t"  #not mutable   can't change string elements in direct methods

TypeError: 'str' object does not support item assignment