In [3]:
a=[10,20,30,40]# list
a

[10, 20, 30, 40]

In [4]:
d1={"a":10,"b":20,"c":30,"d":40} #Dictionary
d1

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [5]:
type(d1)

dict

In [9]:
d1["a"] # In Dictionaries you have to give the key to get the values

10

In [8]:
d1['a']

10

In [64]:
d2={'ID': 500,"Address":"No 10:abc Rd,Colombo","Name":["John","Anne","David"],"Age":[21,22,23],"email":("John@abc.com","Anne@abc.com")} #Values can be any other data type like a string, List, Tuple e.t.c

In [48]:
d2

{'ID': 500,
 'Address': 'No 10:abc Rd,Colombo',
 'Name': ['John', 'Anne', 'David'],
 'Age': [21, 22, 23],
 'email': ('John@abc.com', 'Anne@abc.com')}

In [49]:
d2["Name"]

['John', 'Anne', 'David']

In [50]:
d2["Age"][1] # You can drill down to Elements in the lists

22

In [51]:
d2["email"][0]

'John@abc.com'

In [52]:
d2["ID"]

500

In [53]:
d2["Address"]

'No 10:abc Rd,Colombo'

In [54]:
d2.keys()  # To access the key list in the Dictionary

dict_keys(['ID', 'Address', 'Name', 'Age', 'email'])

In [55]:
d2.values()  # To access the value list in the Dictionary

dict_values([500, 'No 10:abc Rd,Colombo', ['John', 'Anne', 'David'], [21, 22, 23], ('John@abc.com', 'Anne@abc.com')])

In [66]:
d2["Gender"]=["Male","Female"]# How to add new elements to the Dictionary
d2

{'ID': 500,
 'Address': 'No 10:abc Rd,Colombo',
 'Name': ['John', 'Anne', 'David'],
 'Age': [21, 22, 23],
 'email': ('John@abc.com', 'Anne@abc.com'),
 'Gender': ['Male', 'Female']}

In [67]:
del d2['Age'][0]# How to remove an Key elements in the Dictionary (Another Sub level List element)
d2

{'ID': 500,
 'Address': 'No 10:abc Rd,Colombo',
 'Name': ['John', 'Anne', 'David'],
 'Age': [22, 23],
 'email': ('John@abc.com', 'Anne@abc.com'),
 'Gender': ['Male', 'Female']}

In [63]:
del d2['Age'] # How to remove an elements in the Dictionary
d2

KeyError: 'Age'

In [62]:
d2

{'ID': 500,
 'Address': 'No 10:abc Rd,Colombo',
 'Name': ['John', 'Anne', 'David'],
 'email': ('John@abc.com', 'Anne@abc.com'),
 'Gender': ['Male', 'Female']}

In [80]:
#Converting (Casting) something to a List,Tuple,Set
a=[2,1,34,5,6,7,8,5,5,5]
b=(2,3,4,6,78,8)
c={2,5,6,7,8,9,}

In [74]:
list(b)

[2, 3, 4, 6, 78, 8]

In [81]:
list(c)

[2, 5, 6, 7, 8, 9]

In [82]:
tuple(a)

(2, 1, 34, 5, 6, 7, 8, 5, 5, 5)

In [77]:
tuple(c)

(2, 5, 6, 7, 8, 9)

In [79]:
set(a)  # See duplicates get removed when casting to a set "Each set/Kulaka has unique values"

{1, 2, 5, 6, 7, 8, 34}

In [83]:
set(b)

{2, 3, 4, 6, 8, 78}

In [90]:
p=set(a)
q=set(b)
p.intersection(q)

{2, 6, 8}

In [91]:
set(a).intersection(set(b))

{2, 6, 8}

In [93]:
d={"a":10,"b":20,"c":30,"d":40} 
d

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [108]:
list(d) # convert Dictionary to a list --- only keys are taken

['a', 'b', 'c', 'd']

In [109]:
tuple(d)  # convert Dictionary to a tuple  --- only keys are taken

('a', 'b', 'c', 'd')

In [110]:
set(d) # convert Dictionary to a Set  --- only keys are taken

{'a', 'b', 'c', 'd'}

In [103]:
dict( ( ("p",10),("q",20),("r",30),("s",40) ) ) #convert tuple to dictionary (have to give in key value pair format)

{'p': 10, 'q': 20, 'r': 30, 's': 40}

In [115]:
dict((('a',1), ('b',2), ['c',3]))

{'a': 1, 'b': 2, 'c': 3}

Conditional operators in Python

In [116]:
x=10
if x>5:
    print("Yes")

Yes

In [118]:
x=1
if x>5:
    print("Yes")

In [123]:
L=[1,3,4,5,7,8]
if 1 in L:
    L.remove(1)

[3, 4, 5, 7, 8]

In [126]:
L=[1,3,4,5,7,8]
if 1 in L:
    L.remove(1)
print(L)

[3, 4, 5, 7, 8]

In [132]:
mark=36
if mark>=50:
    print("pass")
else:
    print("fail")

fail

In [134]:
a=4
if a%2==0:
    print("even value")
else:
    print("Odd value")

even value

In [152]:
marks=56
if marks<50:
    print("Fail")
elif marks<60:
    print("S Pass")
elif marks<70:
    print("C Pass")
else:
    print("D Pass")

S Pass

In [153]:
marks=56
if marks<50:
    print("Fail")
elif marks<60:
    print("S Pass")
elif marks<70:
    print("C Pass")
else:
    print("D Pass")

S Pass

In [168]:
marks=80
if marks>=80:
    grade="A"
elif marks>=65:
    grade="B"
elif marks>=50:
    grade="C"
else:
    grade="F"
print(grade)

A

In [170]:
mark=78   
result="Pass" if mark>=50 else "Fail"  # if command in single line
print(result)

Pass

In [177]:
mark=75 
grade="A" if mark>=80 else "B" if mark>=65 else "C" if mark>=50 else "F"   # multiple if else command in single line
print(grade) # Its lie this We release "A" if marks >=80 then we release "B" if marks >=65

B