# Objects in python Explained more

In [1]:
class Employee():   #<---------class name
    def __init__(self,a,b,c,d):         # Values passing for the attributes
        self.firstname=a                  # Attributes
        self.lastname=b
        self.email=c
        self.salary=d

In [2]:
emp1=Employee("Sam","Taylor","sam@gmail.com",150000)

In [3]:
emp1.salary

150000

In [4]:
emp1.email

'sam@gmail.com'

In [6]:
emp2=Employee("Kamal","Perera","kamalp@gmail.com",1340000)

In [7]:
emp2.email

'kamalp@gmail.com'

In [8]:
emp1.email

'sam@gmail.com'

In [26]:
class Employee():   #<---------class name
    def __init__(self,a,b,c,d):         # Values passing for the attributes
        self.firstname=a                  # Attributes
        self.lastname=b
        self.email=c
        self.salary=d
        
    def salary_msg(self):
         return "{} earns {}".format(self.firstname,self.salary)   
    
    def salary_bonus(self,p):
        return self.salary*p

In [20]:
emp1=Employee("Sam","Taylor","sam@gmail.com",150000)
emp2=Employee("Kamal","Perera","kamalp@gmail.com",1340000)

In [14]:
emp1.salary_msg()

'Sam earns 150000'

In [15]:
emp2.salary_msg()

'Kamal earns 1340000'

In [24]:
emp1.salary_bonus(0.5)

75000.0

In [27]:
emp2.salary_bonus(0.3)

402000.0

In [29]:
class Exam_Marks():
    def __init__(self,mm,sm,em):
        self.maths=mm
        self.science=sm
        self.english=em

In [41]:
c1=Exam_Marks([23,34,56,67,45],[43,56,73,85,45],[23,54,56,75,75])

In [31]:
c1.maths

[23, 34, 56, 67, 45]

In [32]:
c1.english

[23, 54, 56, 75, 75]

In [39]:
class Exam_Marks():
    def __init__(self,mm,sm,em):
        self.maths=mm
        self.science=sm
        self.english=em
        
    def get_total(self):
        return {"Maths":sum(self.maths),"Science":sum(self.science),"English":sum(self.english)}

In [40]:
c1.maths

[23, 34, 56, 67, 45]

In [44]:
c1=Exam_Marks([23,34,56,67,45],[43,56,73,85,45],[23,54,56,75,75])

In [45]:
c1.get_total()

{'Maths': 225, 'Science': 302, 'English': 283}