# Error Handling---> try: except

In [29]:
x=10/2
y=20/0    # <--- We will get ZeroDivisionError. Lets see how to cath it and use it                 
print (x+y)

ZeroDivisionError: division by zero

In [33]:
try:     # Like in try catch in other languages python use try except
    y=0
    x=10/y
    print(x)
except:
    print("An error is occured---ZeroDivisionError")

An error is occured---ZeroDivisionError

In [28]:
x=30   #<---put a number not in this list ex 30
L=[2,1,4,7,8,6,5]
try: L.remove(x)  #If it tries to remove something not in this list an Err will occur
except:
    print("An Error")
print(L)

An Error
[2, 1, 4, 7, 8, 6, 5]

In [21]:
x=20   #<---put a number not in this list ex 30
L=[2,1,4,7,8,6,5]
try: L.remove(x)
except:
    #print("An Error") # Instead printing error , we do somethin useful
    L.append(x) #Here we add the missing element to the array
print(L)

[2, 1, 4, 7, 8, 6, 5, 20]

In [34]:
x=3   
L=[2,1,4,7,8,6,5]
try: L.remove(x)
except Exception as ex:
    print(ex)
print(L)

list.remove(x): x not in list
[2, 1, 4, 7, 8, 6, 5]

In [43]:
L=[2,1,4,7,8,6,5]
try:
    print(L[20])
except Exception as ex:
    print(ex)

list index out of range

In [44]:
L=[2,1,4,7,8,6,5]
try:
    print(L[10])
except ZeroDivisionError:
    print("A")
except IndexError:
    print("B")
except ValueError:
    print("C")
except NameError:
    print("D")

B

In [58]:
L=[2,1,4,7,8,6,5]
x=9
try:
    L.remove(x)
except ZeroDivisionError :
    print("A")
except IndexError :
    print("B")
except ValueError :
    print("B")
except NameError :
    print("D")
print(L)

B
[2, 1, 4, 7, 8, 6, 5]

In [72]:
L=[2,1,4,7,8,6,5]
x=9
try:
    L.remove(x)  
except ZeroDivisionError as ex:    
    print("A",ex)
except IndexError as ex :
    print("B",ex)
except ValueError  as ex:
    print("B",ex)
except NameError as ex :
    print("D",ex)
print(L)   # if there is no error error will not be printed

B list.remove(x): x not in list
[2, 1, 4, 7, 8, 6, 5]

In [71]:
L=[2,1,4,7,8,6,5]
x=2
try:
    L.remove(x)  
except ZeroDivisionError :    
    print("A")
except IndexError :
    print("B")
except ValueError :
    print("B")
except NameError  :
    print("D")
else:
    print(L)   # if there is no error this will be printed. if error not printed

[1, 4, 7, 8, 6, 5]

In [ ]:
L=[2,1,4,7,8,6,5]
x=23
try:
    L.remove(x)  
except ZeroDivisionError :    
    print("A")
except IndexError :
    print("B")
except ValueError :
    print("B")
except NameError  :
    print("D")
else:
    print(L)  # if there is no error only this will be printed(if error not printed)
finally:
    print("End of the program") # any way this line will be executed whether error or no error

# Object Oriented Programming Concept in Python (OOP)

In [81]:
# class can be empty
class Employee():
    pass   # <--- this means it is just an empty class i.e abstract class

In [86]:
emp1=Employee()
emp2=Employee()  
emp3=Employee()

In [87]:
print(emp1)# All these are different objects
print(emp2)# All these are different objects
print(emp3)# All these are different objects

<__main__.Employee object at 0x000001E51959D6C0>
<__main__.Employee object at 0x000001E51903C400>
<__main__.Employee object at 0x000001E5184AA050>

#How to give an attribute to an Object

In [88]:
class Employee():
    def __init__():
        firstname
        lastname
        email
        salary

In [90]:
emp1=Employee()
emp2=Employee()  
emp3=Employee()

emp1.firstname
emp2=firstname

TypeError: Employee.__init__() takes 0 positional arguments but 1 was given

In [117]:
class Employee():
    def __init__(self,a,b,c,d): # We define init function here. Then refer the object itself as "self" paramete, parameters are passed as a,b,c,d here in this init function
        self.firstname=a    #Rather we call this block as the Constructor function
        self.lastname=b     #or the Constructor
        self.email=c        #and we can feed parameters and change the
        self.salary=d       #attribute values for each objects

In [103]:
emp1=Employee("Sam","taylor","sam@gmail.com",1000)
emp2=Employee("John","Francis","john@gmail.com",150000)
emp3=Employee("Sammie","Jhonson","Sammie@gmail.com",750000)

In [104]:
emp1.firstname

'Sam'

In [105]:
emp3.email

'Sammie@gmail.com'

In [108]:
emp1.__dict__   # Get the entire Dictionary or the attributes of the object

{'firstname': 'Sam',
 'lastname': 'taylor',
 'email': 'sam@gmail.com',
 'salary': 1000}

In [98]:
emp2.__dict__

{'firstname': 'John',
 'lastname': 'Francis',
 'email': 'john@gmail.com',
 'salary': 150000}

In [99]:
emp3.__dict__

{'firstname': 'Sammie',
 'lastname': 'Jhonson',
 'email': 'Sammie@gmail.com',
 'salary': 750000}

In [111]:
emp1.firstname="Kane"

In [112]:
emp1.__dict__

{'firstname': 'Kane',
 'lastname': 'Perera',
 'email': 'sam@gmail.com',
 'salary': 1000}

In [113]:
emp1.lastname="Perera"

In [114]:
emp1.__dict__

{'firstname': 'Kane',
 'lastname': 'Perera',
 'email': 'sam@gmail.com',
 'salary': 1000}